<?xml version="1.0" encoding="UTF-8" ?>

<theme>
    <formatVersion>7</formatVersion>
    <view name="menu">
        <menuText name="menutitle">
            <fontPath>${fontMenuBold}</fontPath>
            <fontSize>0.044</fontSize>
            <color>${colorTextBase}</color>
        </menuText>

        <menuText name="menufooter">
            <fontPath>${fontMenuRegular}</fontPath>
            <fontSize>0.02</fontSize>
            <color>${colorTextBase}</color>
        </menuText>

        <menuText name="menutext">
            <fontPath>${fontMenuRegular}</fontPath>
            <fontSize>0.0325</fontSize>
            <fontSize tinyScreen="true">0.034</fontSize>
            <color>${colorTextBase}</color>
            <separatorColor>${separatorColorBase}</separatorColor>
            <selectorColor>${selectorColorBase}</selectorColor>
            <selectorColorEnd>${selectorColorEndBase}</selectorColorEnd>
            <selectedColor>${selectedColorBase}</selectedColor>
            <selectorGradientType>horizontal</selectorGradientType>
        </menuText>

        <menuTextSmall name="menutextsmall">
            <fontPath>${fontMenuRegular}</fontPath>
            <fontSize>0.025</fontSize>
            <color>${colorTextBase}</color>
        </menuTextSmall>

        <menuGroup name="menugroup">
            <fontPath>${fontMenuBold}</fontPath>
            <fontSize>0.033</fontSize>
            <color>${menuGroupTextColorBase}</color>
            <backgroundColor>${colorBackground}</backgroundColor>
        </menuGroup>

        <menuBackground name="menubg">
            <color>${colorBase}</color>
            <cornerSize>32 32</cornerSize>
            <scrollbarColor>96969620</scrollbarColor>
            <scrollbarCorner>0.49</scrollbarCorner>
            <scrollbarSize>0.003</scrollbarSize>
            <scrollbarAlignment>innerright</scrollbarAlignment>
        </menuBackground>

        <menuIcons name="menuicons">
            <iconKodi>./../art/icons/Kodi.svg</iconKodi>
            <iconSystem>./../art/icons/System.svg</iconSystem>
            <iconUpdates>./../art/icons/Updates.svg</iconUpdates>
            <iconGames>./../art/icons/Games.svg</iconGames>
            <iconControllers>./../art/icons/Controllers.svg</iconControllers>
            <iconUI>./../art/icons/UI.svg</iconUI>
            <iconSound>./../art/icons/Sound.svg</iconSound>
            <iconNetwork>./../art/icons/Network.svg</iconNetwork>
            <iconScraper>./../art/icons/Scraper.svg</iconScraper>
            <iconAdvanced>./../art/icons/Advanced.svg</iconAdvanced>
            <iconQuit>./../art/icons/Quit.svg</iconQuit>
            <iconRestart>./../art/icons/Restart.svg</iconRestart>
            <iconShutdown>./../art/icons/Shutdown.svg</iconShutdown>
            <iconFastShutdown>./../art/icons/Fastshutdown.svg</iconFastShutdown>
            <iconRetroachievements>./../art/icons/Contest.svg</iconRetroachievements>
            <iconManual>./../art/icons/Manual.svg</iconManual>
        </menuIcons>

        <menuTextEdit name="menutextedit">
            <inactive>./../art/images/textinput_ninepatch.png</inactive>
            <active>./../art/images/textinput_ninepatch_active.png</active>
        </menuTextEdit>

        <menuButton name="menubutton">
            <path>./../art/images/button.png</path>
            <filledPath>./../art/images/button_filled.png</filledPath>
            <cornerSize>8 8</cornerSize>
        </menuButton>
    </view>
</theme>
