<?xml version="1.0" encoding="UTF-8" ?>

<theme>
    <formatVersion>7</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <fontPath>./fonts/arcade.ttf</fontPath>
            <fontSize>0.06</fontSize>
            <color>002105</color>
        </menuText>

        <menuText name="menufooter">
            <fontPath>./fonts/arcade.ttf</fontPath>          
            <fontSize>0.04</fontSize>
            <color>002105</color>
        </menuText>

        <menuText name="menutext">
            <fontPath>./fonts/arcade.ttf</fontPath>
            <fontSize>0.05</fontSize>
            <color>002105</color>
            <separatorColor>4D7700</separatorColor>
            <selectorColor>002105</selectorColor>
            <selectorColorEnd>002105</selectorColorEnd>
            <selectedColor>DDDDDD</selectedColor>
        </menuText>

        <menuTextSmall name="menutextsmall">
            <fontSize>0.03</fontSize>
            <color>002105</color>
        </menuTextSmall>

        <menuGroup name="menugroup">
            <fontPath>./fonts/arcade.ttf</fontPath> 
            <fontSize>0.035</fontSize>
            <color>F4FF00</color>
            <separatorColor>002105</separatorColor>
        </menuGroup>

        <menuBackground name="menubg">
            <color>588800</color>
            <cornerSize>32 32</cornerSize>
            <path>./../art/frame.png</path>
            <scrollbarColor>96969620</scrollbarColor>
            <scrollbarCorner>0.49</scrollbarCorner>
            <scrollbarSize>0.003</scrollbarSize>
            <scrollbarAlignment>innerright</scrollbarAlignment>
        </menuBackground>

        <menuIcons name="menuicons">
            <iconKodi>./../art/icons/Kodi.png</iconKodi>
            <iconSystem>./../art/icons/System.png</iconSystem>
            <iconUpdates>./../art/icons/Updates.png</iconUpdates>
            <iconGames>./../art/icons/Games.png</iconGames>
            <iconControllers>./../art/icons/Controllers.png</iconControllers>
            <iconUI>./../art/icons/UI.png</iconUI>
            <iconSound>./../art/icons/Sound.png</iconSound>
            <iconNetwork>./../art/icons/Network.png</iconNetwork>
            <iconScraper>./../art/icons/Scraper.png</iconScraper>
            <iconAdvanced>./../art/icons/Advanced.png</iconAdvanced>
            <iconQuit>./../art/icons/Quit.png</iconQuit>
            <iconRestart>./../art/icons/Restart.png</iconRestart>
            <iconShutdown>./../art/icons/Shutdown.png</iconShutdown>
            <iconFastShutdown>./../art/icons/Fastshutdown.png</iconFastShutdown>
            <iconRetroachievements>./../art/icons/Contest.png</iconRetroachievements>
            <iconManual>./../art/icons/Manual.png</iconManual>
        </menuIcons>

        <menuTextEdit name="menutextedit">
            <inactive>./../art/images/textinput_ninepatch.png</inactive>
            <active>./../art/images/textinput_ninepatch_active.png</active>
        </menuTextEdit>

        <menuButton name="menubutton">
            <color>556E04</color>
            <path>./../art/images/button.png</path>
            <filledPath>./../art/images/button_filled.png</filledPath>
            <cornerSize>8 8</cornerSize>
        </menuButton>
    </view>
</theme>