<?xml version="1.0" encoding="UTF-8" ?>
<!--
theme name:		GPIBoy
author:			Juliano Dorigão
-->

<theme>
    <formatVersion>7</formatVersion>
	<view name="system">
		<text name="manufacturerName" extra="static">
            <color>${colorTextBase}</color>
            <text>${system.sortedBy}</text>
            <alignment>left</alignment>
            <fontPath>${fontTextBase}</fontPath>
            <fontSize>0.07</fontSize>
            <pos>0.03 0.05</pos>
            <size>0.693 0</size>
        </text>

        <text name="releaseYyear" extra="true">
            <color>${colorTextBase}</color>
            <text>${system.releaseYearOrNull}</text>
            <alignment>left</alignment>
            <fontPath>${fontTextBase}</fontPath>
            <fontSize>0.05</fontSize>
            <pos>0.03 0.12</pos>
            <size>0.2 0</size>
        </text>

		<text name="systemInfo">
			<color>${colorTextBase}</color>
            <alignment>right</alignment>
            <fontPath>${fontTextBase}</fontPath>
            <fontSize>0.05</fontSize>
            <pos>0.7 0.065</pos>
            <size>0.28 0</size>
		</text>

        <text name="logoText">
			<color>${colorTextBase}</color>
			<fontPath>${fontTextBase}</fontPath>
			<fontSize>0.08</fontSize>
			<forceUppercase>true</forceUppercase>
		</text>

		<image name="logo">
            <color>${colorLogoBase}</color>
			<path>./../art/system/${system.theme}.svg</path>
      	</image>

		<carousel name="systemcarousel">
			<color>FAFAFF00</color>
			<colorEnd>FAFAFF00</colorEnd>
			<pos>0 0</pos>
            <size>1 1</size>
			<logoSize>0.5 0.5</logoSize>
			<maxLogoCount>1</maxLogoCount>
		</carousel>
	</view>
</theme>
